body{
    background-color: #FEF9E7
}

h1, h2, h3 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* color: #F7F9F9; */
    color: #3498DB;
    margin: 3px;
}

h1 {
    font-size: 3em;
}

#game{
    margin-top: 20px;
    justify-content: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px 100px 100px 100px
  }